
html, body{
    width: 50%;
    margin: 0 auto;
}

header {
    width: 500px;
}
.container{
    width: 500px;
}

.inputBox {
    background: whitesmoke;
    margin-right: 5px;
    height: 20px;
    width: 200px;
    outline: none;
    border: 1px solid black;
   
}

.submitBtn {
    background: #0066a2;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    height: 20px;
    width: 100px;
}

.deleteBtn {
    background: #00a256;
    color: white;
    border-style: outset;
    border-color: #0066a2;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    align-items: center;
}
.todoContainer{
    margin-top: 15px;
}

